.vs/
packages/
obj/
bin/
MMDocConnectDocApp/.nuget/NuGet.Config
MMDocConnectDocApp/.nuget/NuGet.targets
MMDocConnectDocApp/MMDocConnectDocApp/Content/images/icons/back-button.png
MMDocConnectDocApp/MMDocConnectDocApp/Content/images/icons/doctor-item.png
MMDocConnectDocApp/MMDocConnectDocApp/Content/images/icons/edit.png
MMDocConnectDocApp/MMDocConnectDocApp/Content/images/icons/hospital-item.png
MMDocConnectDocApp/MMDocConnectDocApp/Content/images/icons/sort-asc.png
MMDocConnectDocApp/MMDocConnectDocApp/Content/images/icons/sort-dsc.png
MMDocConnectDocApp/MMDocConnectDocApp/Content/images/icons/add-thin-disabled.png
MMDocConnectDocApp/MMDocConnectDocApp/Content/images/icons/add-thin.png
MMDocConnectDocApp/MMDocConnectDocApp/Content/images/icons/add.png
MMDocConnectDocApp/MMDocConnectDocApp/Content/images/icons/archive.png
MMDocConnectDocApp/MMDocConnectDocApp/Content/images/icons/archive_hover.png
MMDocConnectDocApp/MMDocConnectDocApp/Content/images/icons/checkbox-checked-focus.png
MMDocConnectDocApp/MMDocConnectDocApp/Content/images/icons/checkbox-checked.png
MMDocConnectDocApp/MMDocConnectDocApp/Content/images/icons/checkbox-disabled.png
MMDocConnectDocApp/MMDocConnectDocApp/Content/images/icons/checkbox.png
MMDocConnectDocApp/MMDocConnectDocApp/Content/images/icons/confirm.png
MMDocConnectDocApp/MMDocConnectDocApp/Content/images/icons/dashboard.png
MMDocConnectDocApp/MMDocConnectDocApp/Content/images/icons/dashboard_hover.png
MMDocConnectDocApp/MMDocConnectDocApp/Content/images/icons/datepicker-next.png
MMDocConnectDocApp/MMDocConnectDocApp/Content/images/icons/datepicker-next_hover.png
MMDocConnectDocApp/MMDocConnectDocApp/Content/images/icons/datepicker-prev.png
MMDocConnectDocApp/MMDocConnectDocApp/Content/images/icons/datepicker-prev_hover.png
MMDocConnectDocApp/MMDocConnectDocApp/Content/images/icons/doctors.png
MMDocConnectDocApp/MMDocConnectDocApp/Content/images/icons/doctors_hover.png
MMDocConnectDocApp/MMDocConnectDocApp/Content/images/icons/dropdown-icon.png
MMDocConnectDocApp/MMDocConnectDocApp/Content/images/icons/dropdown-icon_hover.png
MMDocConnectDocApp/MMDocConnectDocApp/Content/images/icons/evidence.png
MMDocConnectDocApp/MMDocConnectDocApp/Content/images/icons/evidence_hover.png
MMDocConnectDocApp/MMDocConnectDocApp/Content/images/icons/follow-up.png
MMDocConnectDocApp/MMDocConnectDocApp/Content/images/icons/follow-up_hover.png
MMDocConnectDocApp/MMDocConnectDocApp/Content/images/icons/more-icon.png
MMDocConnectDocApp/MMDocConnectDocApp/Content/images/icons/orders.png
MMDocConnectDocApp/MMDocConnectDocApp/Content/images/icons/orders_hover.png
MMDocConnectDocApp/MMDocConnectDocApp/Content/images/icons/origin-date.png
MMDocConnectDocApp/MMDocConnectDocApp/Content/images/icons/origin-date_hover.png
MMDocConnectDocApp/MMDocConnectDocApp/Content/images/icons/patients.png
MMDocConnectDocApp/MMDocConnectDocApp/Content/images/icons/patients_hover.png
MMDocConnectDocApp/MMDocConnectDocApp/Content/images/icons/planning.png
MMDocConnectDocApp/MMDocConnectDocApp/Content/images/icons/planning_hover.png
MMDocConnectDocApp/MMDocConnectDocApp/Content/images/icons/radio-button-checked.png
MMDocConnectDocApp/MMDocConnectDocApp/Content/images/icons/radio-button.png
MMDocConnectDocApp/MMDocConnectDocApp/Content/images/icons/reject.png
MMDocConnectDocApp/MMDocConnectDocApp/Content/images/icons/settlement.png
MMDocConnectDocApp/MMDocConnectDocApp/Content/images/icons/settlement_hover.png
MMDocConnectDocApp/MMDocConnectDocApp/Content/images/icons/toggle-no.png
MMDocConnectDocApp/MMDocConnectDocApp/Content/images/icons/toggle-yes.png
MMDocConnectDocApp/MMDocConnectDocApp/Content/images/icons/treatments.png
MMDocConnectDocApp/MMDocConnectDocApp/Content/images/icons/treatments_hover.png
MMDocConnectDocApp/MMDocConnectMMApp/Content/images/icons/checkbox.png
MMDocConnectDocApp/MMDocConnectMMApp/Content/images/icons/confirm.png
MMDocConnectDocApp/MMDocConnectMMApp/Content/images/icons/dashboard.png
MMDocConnectDocApp/MMDocConnectMMApp/Content/images/icons/dashboard_hover.png
MMDocConnectDocApp/MMDocConnectMMApp/Content/images/icons/datepicker-next.png
MMDocConnectDocApp/MMDocConnectMMApp/Content/images/icons/datepicker-next_hover.png
MMDocConnectDocApp/MMDocConnectMMApp/Content/images/icons/datepicker-prev.png
MMDocConnectDocApp/MMDocConnectMMApp/Content/images/icons/datepicker-prev_hover.png
MMDocConnectDocApp/MMDocConnectMMApp/Content/images/icons/doctors.png
MMDocConnectDocApp/MMDocConnectMMApp/Content/images/icons/treatments_hover.png
MMDocConnectDocApp/MMDocConnectMMApp/Content/images/icons/add.png
MMDocConnectDocApp/MMDocConnectMMApp/Content/images/icons/archive.png
MMDocConnectDocApp/MMDocConnectMMApp/Content/images/icons/archive_hover.png
MMDocConnectDocApp/MMDocConnectMMApp/Content/images/icons/checkbox-checked-focus.png
MMDocConnectDocApp/MMDocConnectMMApp/Content/images/icons/checkbox-checked.png
MMDocConnectDocApp/MMDocConnectMMApp/Content/images/icons/checkbox-disabled.png
MMDocConnectDocApp/MMDocConnectMMApp/Content/images/icons/doctors_hover.png
MMDocConnectDocApp/MMDocConnectMMApp/Content/images/icons/dropdown-icon.png
MMDocConnectDocApp/MMDocConnectMMApp/Content/images/icons/dropdown-icon_hover.png
MMDocConnectDocApp/MMDocConnectMMApp/Content/images/icons/toggle-yes.png
MMDocConnectDocApp/MMDocConnectMMApp/Content/images/icons/treatments.png
MMDocConnectDocApp/MMDocConnectDocApp/Content/images/icons/magnifier.png
MMDocConnectDocApp/MMDocConnectMMApp/Content/images/icons-sab0862b020.png
MMDocConnectDocApp/MMDocConnectMMApp/Content/images/icons/add-thin.png
MMDocConnectDocApp/MMDocConnectMMApp/Content/images/icons/evidence.png
MMDocConnectDocApp/MMDocConnectMMApp/Content/images/icons/evidence_hover.png
MMDocConnectDocApp/MMDocConnectMMApp/Content/images/icons/more-icon.png
MMDocConnectDocApp/MMDocConnectMMApp/Content/images/icons/toggle-no.png
MMDocConnectDocApp/MMDocConnectMMApp/Content/images/icons/origin-date.png
MMDocConnectDocApp/MMDocConnectMMApp/Content/images/icons/origin-date_hover.png
MMDocConnectDocApp/MMDocConnectMMApp/Content/images/icons/patients.png
MMDocConnectDocApp/MMDocConnectMMApp/Content/images/icons/patients_hover.png
MMDocConnectDocApp/MMDocConnectMMApp/Content/images/icons/planning.png
MMDocConnectDocApp/MMDocConnectMMApp/Content/images/icons/planning_hover.png
MMDocConnectDocApp/MMDocConnectMMApp/Content/images/icons/radio-button-checked.png
MMDocConnectDocApp/MMDocConnectMMApp/Content/images/icons/radio-button.png
MMDocConnectDocApp/MMDocConnectMMApp/Content/images/icons/reject.png
MMDocConnectDocApp/MMDocConnectMMApp/Content/images/icons/settlement.png
MMDocConnectDocApp/MMDocConnectMMApp/Content/images/icons/settlement_hover.png
MMDocConnectDocApp/MMDocConnectMMApp/Content/images/icons/follow-up.png
MMDocConnectDocApp/MMDocConnectMMApp/Content/images/icons/follow-up_hover.png
MMDocConnectDocApp/MMDocConnectMMApp/Content/images/icons/orders.png
MMDocConnectDocApp/MMDocConnectMMApp/Content/images/icons/orders_hover.png
MMDocConnectDocApp/MMDocConnectMMApp/Content/images/logo.png
MMDocConnectDocApp/MMDocConnectDocApp/Content/images/icons/checkbox-focus.png
MMDocConnectDocApp/MMDocConnectDocApp/Content/images/icons/radio-checked-focus.png
MMDocConnectDocApp/MMDocConnectDocApp/Content/images/icons/radio-disabled-checked.png
MMDocConnectDocApp/MMDocConnectDocApp/Content/images/icons/radio-disabled.png
MMDocConnectDocApp/MMDocConnectDocApp/Content/images/icons/radio-focus.png
MMDocConnectDocApp/MMDocConnectDocApp/Content/images/icons/checkbox-disabled-checked.png
MMDocConnectDocApp/MMDocConnectDocApp/Content/css/style_backup.css
*.orig
MMDocConnectDocApp/MMDocConnectDocApp/Content/images.zip
*.psess
*.vsp
*.pubxml
MMDocConnectDocApp/MMDocConnectDocApp/Content/images/icons-s172347ec3c.png
MMDocConnectDocApp/MMDocConnectDocApp/Content/images/icons-sb8f181dd21.png
MMDocConnectDocApp/MMDocConnectDocApp/Content/images/icons-sf4b891bfdd.png
MMDocConnectDocApp/.nuget/NuGet.exe
MMDocConnectDocApp/MMDocConnectDocApp.v12.suo
*.user
MMDocConnectDocApp/MMDocConnectDocApp/app_offline.htm
MMDocConnectDocApp/MMDocConnectDocApp/Content/css/docapp.css
MMDocConnectDocApp/MMDocConnectDocApp/node_modules/
MMDocConnectDocApp/MMDocConnectDocApp/build/scripts/app.js
MMDocConnectDocApp/MMDocConnectDocApp/build/
MMDocConnectDocApp/npm-debug.log
MMDocConnectDocApp/MMDocConnectDocApp/static-release/
MMDocConnectDocApp/MMDocConnectDocApp/scripts/app.js
MMDocConnectDocApp/MMDocConnectDocApp/scripts/lib.js
MMDocConnectDocApp/MMDocConnectDocApp/scripts/translations.js
MMDocConnectDocApp/MMDocConnectDocApp/scripts/src/common/view/templates.js
MMDocConnectDocApp/MMDocConnectDocApp/package-lock.json
