<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->

<configuration>
  <configSections>
    <section name="realmConfig" type="BOp.Config.SDKConfig, BOpSDK"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"></section>
    <sectionGroup name="applicationSettings"
      type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MMDocConnectDocApp.Properties.Settings"
        type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>

  <connectionStrings>
    <add name="Lynx"
      connectionString="Server=46.4.232.35;Database=bop_omni;Uid=bop_omni;Pwd=QfNBSfVg6hNjLRD;Port=3306;charset=utf8;Convert Zero Datetime=true;"
      providerName="SQLOLEDB"/>
    <add name="Local"
      connectionString="Server=192.168.15.87;Database=bop_omni;Uid=root;Pwd=danulabs;Port=3306;charset=utf8;Convert Zero Datetime=True;Persist Security info=True;Connection Timeout=600"
      providerName="SQLOLEDB"/>
    <add name="MediosTest"
      connectionString="Server=mc-test-DB01.mediosdigital.de;Database=bop_omni;Uid=recherche;Pwd=mC-zugr1ff;Port=3306;charset=utf8;Convert Zero Datetime=True;Persist Security info=True;Connection Timeout=600"
      providerName="SQLOLEDB"/>
  </connectionStrings>

  <appSettings>

    <add key="activeConnection" value="MediosTest"/>

    <!-- elastic configuration -->
    <add key="ElasticConnection" value="mc-test-infra01.mediosdigital.de"/>
    <add key="ElasticPort" value="9200"/>
    <add key="virtualPathOfTheApplication" value="DocApp"/>
    <add key="application.id" value="fd28f517-d4bc-44e6-a6d7-cc711b4f2cd5"/>
    <add key="module.id" value="82ce6e05-05c6-46cb-8139-1a3f53020220"/>
    <add key="listener.endpoint" value="https://lynxv3.b-op.com/example-app/api/messagereceiver/messages"/>

    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="bop.config.cookie-name" value="bops"/>

    <add key="bop.config.auth.username" value="external"/>
    <add key="bop.config.auth.password" value="external"/>
    <add key="bop.config.auth.type" value="digest"/>

    <add key="bop.config.provider.tms" value="http://mc-test-infra01.mediosdigital.de:8080/tms/"/>
    <add key="bop.config.provider.doc" value="http://mc-test-infra01.mediosdigital.de:8080/doc/"/>
    <add key="bop.config.provider.rms" value="http://mc-test-infra01.mediosdigital.de:8080/rms/"/>
    <add key="bop.config.provider.rps" value="http://mc-test-infra01.mediosdigital.de:8080/rps/"/>
    <add key="bop.config.provider.trust" value="http://mc-test-infra01.mediosdigital.de:8080/trust/"/>
    <add key="bop.config.provider.catalog" value="http://mc-test-infra01.mediosdigital.de:8080/catalog-service/"/>


    <!-- url configuration -->
    <add key="mailInfo" value="mail@medios-connect.de"/>
    <add key="mailFrom" value="DocApp@medios-connect.de"/>
    <add key="mmAppUrl" value="http://mc-test-web01.mediosdigital.de/mmapp/"/>
    <add key="docAppUrl" value="http://mc-test-web01.mediosdigital.de/docapp/"/>
    <add key="mmdocconnect.dashboard.url" value="http://mc-test-web01.mediosdigital.de/mmapp/"/>
    <add key="helpUrlOP" value="https://medios-connect.de/hilfe/hilfe.htm"/>
    <add key="helpUrlAC" value="https://medios-connect.de/hilfe/hilfe.htm"/>

    <!-- timeout configuration -->
    <!-- New value which tells the app how long it should wait before attempting to generate submit pdf reports in the background (in milliseconds) -->
    <add key="pdfReceiptAsyncDelay" value="15000"/>
    <add key="notificationTimeoutInMiliseconds" value="900000"/>
    <add key="session-valididity-in-seconds" value="1800"/>

    <!--Grace period settings-->
    <add key="gracePeriodDuration" value="30"/>
    <add key="autoRenewalWithQuickOrder" value="true"/>

    <add key="application-version" value="v2.3.60"/>
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>

  <log4net>
    <root>
      <level value="ALL"/>
      <appender-ref ref="CustomAppender"/>
    </root>
    <renderer renderedClass="System.Object" renderingClass="LogUtils.CustomRenderer"/>
    <appender name="CustomAppender" type="LogUtils.CustomAppender">
      <file type="log4net.Util.PatternString" value="C:\inetpub\logs\MediosConnect\DocApp\%property{LogDirectory}\log-"/>
      <datePattern value="yyyy-MM-dd'.out'"/>
      <staticLogFileName value="false"/>
      <appendToFile value="true"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <rollingStyle value="Composite"/>
      <encoding value="utf-8"/>
      <layout type="LogUtils.CustomLayout">
        <header value="&lt;Root&gt;"/>
        <conversionPattern value="%message"/>
        <footer value="&lt;/Root&gt;"/>
      </layout>
    </appender>
  </log4net>

  <system.webServer>
    <handlers>
      <add name="AttributeRouting" path="routes.axd" verb="*" type="AttributeRouting.Web.Logging.LogRoutesHandler, AttributeRouting.Web"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler"
        preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll"/>
      <dynamicTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </staticTypes>
    </httpCompression>
    <urlCompression doStaticCompression="true" doDynamicCompression="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.1.0.0" newVersion="5.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <applicationSettings>
    <MMDocConnectDocApp.Properties.Settings>
      <setting name="ApplicationID" serializeAs="String">
        <value>fd28f517-d4bc-44e6-a6d7-cc711b4f2cd5</value>
      </setting>
      <setting name="DefaultLanguageCode" serializeAs="String">
        <value>de</value>
      </setting>
      <setting name="CASSession_Timeout" serializeAs="String">
        <value>28800</value>
      </setting>
      <setting name="ModuleID" serializeAs="String">
        <value>82ce6e05-05c6-46cb-8139-1a3f53020220</value>
      </setting>
      <setting name="DocAppGroup" serializeAs="String">
        <value>mm.docconect.doc.app.group</value>
      </setting>
      <setting name="MasterAccountDocApp" serializeAs="String">
        <value>mm.docconect.doc.app.master</value>
      </setting>
      <setting name="OPDocAccountDocApp" serializeAs="String">
        <value>mm.docconect.doc.app.op.doctor</value>
      </setting>
      <setting name="OPPracticeAccountDocApp" serializeAs="String">
        <value>mm.docconect.doc.app.op.practice</value>
      </setting>
      <setting name="ACPracticeAccountDocApp" serializeAs="String">
        <value>mm.docconect.doc.app.ac.practice</value>
      </setting>
      <setting name="ACDocAccountDocApp" serializeAs="String">
        <value>mm.docconect.doc.app.ac.doctor</value>
      </setting>
    </MMDocConnectDocApp.Properties.Settings>
  </applicationSettings>
</configuration>
