<ul class="global-filter">
    <li class="search-input-holder">
        <input type="text" class="form-control" id="globalSearchInput" ng-model="global_search.text_search" ng-keyup="search($event)" placeholder="{{ 'LABEL_SEARCH' | translate }}">
        <span class="icon-search"></span>
    </li>
    <li class="search-dropdown-holder">
        <dropdown-list id="selHip" items="hips" ng-model="filter.hip" additional-class="'dropdown-min-width'" params="{display_name: 'display_name', id: 'name', is_model_object: false}" ng-change="search({ which: 13 }, true)" placeholder="'LABEL_HEALTH_INSURANCE_PROVIDER'"></dropdown-list>
    </li>
    <li>
        <ul class="global-filter-items">
            <li class="separator">
                <input class="hide" type="checkbox" name="filter" ng-model="filter.all" id="all" value="" ng-change="prepareSearch(true)" />
                <label id="filterAll" for="all" ng-class="{'active': filter.all}" class="filter-item">{{ 'LABEL_ALL' | translate }}</label>
            </li>
            <li>
                <input class="hide" type="checkbox" name="filter" ng-model="filter.current" id="current" value="current" ng-change="prepareSearch(false, true)" />
                <label id="filterCurrent" for="current" ng-class="{'active': filter.current}" class="filter-item">{{ 'LABEL_CURRENT' | translate }}</label>
            </li>
            <li>
                <input class="hide" type="checkbox" name="filter" ng-model="filter.op1" id="scheduled" value="op1" ng-change="prepareSearch(false)" />
                <label id="filterScheduled" for="scheduled" ng-class="{'active': filter.op1}" class="filter-item">{{ 'LABEL_SCHEDULED' | translate }}</label>
            </li>
            <li>
                <input class="hide" type="checkbox" name="filter" ng-model="filter.op3" id="overdue" value="op3" ng-change="prepareSearch(false)" />
                <label id="filterOverdue" for="overdue" ng-class="{'active': filter.op3}" class="filter-item">{{ 'LABEL_OVERDUE2' | translate }}</label>
            </li>
            <li class="separator">
                <input class="hide" type="checkbox" name="filter" ng-model="filter.op4" id="canceleddeleted" value="op4" ng-change="prepareSearch(false)" />
                <label id="filterCanceled" for="canceleddeleted" ng-class="{'active': filter.op4}" class="filter-item">{{ 'LABEL_CANCELED_DELETED' | translate }}</label>
            </li>
            <li>
                <input class="hide" type="checkbox" name="filter" ng-model="filter.treatmentorder" id="treatmentorder" value="treatmentorder" ng-change="prepareSearch(false, 'treatmentorder')" />
                <label id="lbltreatmentorder" for="treatmentorder" ng-class="ItemCheckedtreatmentorder" class="filter-item">{{ 'LABEL_TREATMENT_WITH_ORDER' | translate }}</label>
            </li>
            <li>
                <input class="hide" type="checkbox" name="filter" ng-model="filter.treatments" id="treatments" value="treatments" ng-change="prepareSearch(false, 'treatments')" />
                <label id="lbltreatments" for="treatments" ng-class="ItemCheckedtreatment" class="filter-item">{{ 'LABEL_TREATMENTS' | translate }}</label>
            </li>
        </ul>
    </li>
</ul>
