<div class="popup-wrapper">
    <div class="popup popup-medium change-password">
        <form id="passwordForm" name="passwordForm" ng-submit="changePassword()" novalidate>
            <div class="warning-msg">
                <h2>{{'LABEL_RESET_PASSWORD' | translate}} {{pass.accType}}</h2>
            </div>
            <div name="messageContainer" class="error-msg" ng-show="divContainer">
                <span class="error" ng-show="passwordInvalidEmpty">{{ 'LABEL_ENTER_PASSWORD' | translate }}</span>
                <span class="error" ng-show="passwordDontValidForm">{{ 'LABEL_PASSWORD_FORMAT' | translate }}</span>
                <span class="error" ng-show="passwordDontMAtch">{{ 'LABEL_PASSWORD_MISMATCH' | translate }}</span>
            </div>
            <ul class="clearfix">
                <li>
                    <span class="mask-checkbox">
                        <input id="ckPass1" ng-model="ckPass" value="1" type="radio" ng-init="SetInitialPass()" ng-change="GeneratePass()" />
                        <i class="icon"></i>
                    </span>
                    <label translate="LABEL_NEW_PASSWORD_GENERATE"></label>
                    <input ng-model="pass.generatedPass" type="password" ng-disabled="genPassdis" />
                </li>
                <li>
                    <span class="mask-checkbox">
                        <input id="ckPass2" type="radio" value="2" ng-model="ckPass" ng-change="typePass()">
                        <i class="icon"></i>
                    </span>
                    <label translate="LABEL_DEFINE_NEW_PASSWORD">
                        <span class="error" ng-show="passwordForm.typedPass.$error.required">*</span>
                    </label>
                    <input ng-model="pass.typedPass" name="typedPass" type="password" ng-disabled="typedPassdis" ng-class="{redborder:passwordDontValidForm || passwordDontMAtch || passwordInvalidEmpty}" ng-required="disablesubmit">
                </li>
                <li>
                    <label translate="LABEL_REPEAT_NEW_PASSWORD">
                        <span class="error" ng-show="passwordForm.confirmedPass.$error.required">*</span>
                    </label>
                    <input type="password" name="confirmedPass" ng-model="pass.confirmedPass" ng-disabled="typedPassdis" ng-class="{redborder:passwordDontMAtch || passwordInvalidEmpty}" ng-required="disablesubmit">
                </li>
            </ul>

            <h2 class="confirm-msg">{{'LABEL_CHANGE_PASSWORD_SURE1'|translate}}
                <span>{{pass.acc}}</span>
                <span>{{'LABEL_CHANGE_PASSWORD_SURE2'|translate}}</span>
            </h2>
            <p>{{'LABEL_WELCOME_EMAIl1'| translate}}
                <span> {{pass.acc}}</span>
                <span>{{'LABEL_WELCOME_EMAIl2' | translate}}</span>
            </p>
            <div class="buttons">
                <button class="button wide reject jsblockClose" type="button" id="btnCancel" ng-click="closePopUpPassword()" translate="BUTTON_CANCEL"></button>
                <button class="button wide confirm jsblockClose" id="btnSubmitPasswordChange" type="submit" translate="LABEL_CHANGE_NOW" ng-disabled="passwordForm.$invalid"></button>
            </div>
        </form>
        <div class="clearfix"></div>
    </div>
</div>
