<div class="popup-wrapper">
    <div class="popup popup-medium warning-popup">
        <div class="warning-msg"><h2 translate="LABEL_WHAT_IS_YOUR_PASSWORD"></h2></div>

        <div class="error-msg no-float" ng-if="credentials_not_verified"><span class="error">{{ 'LABEL_CREDENTIALS_NOT_VERIFIED' | translate }}</span></div>
        <form class="popup-content margin-top-30" id="passwordConfirmationForm" name="passwordConfirmationForm" ng-submit="$parent.verifyPassword()" novalidate>

            <div class="checkbox" ng-show="$parent.show_checkbox">
                <input type="checkbox" id="cbSelectConfirmDiagnose" name="cbSelectConfirmDiagnose" ng-model="diagnoseStatusConfirmed">
                <label id="labelSelectConfirmDiagnose" class="larger-font bolded-text" for="cbSelectConfirmDiagnose">{{$parent.content | translate}}</label>
            </div>

            <p ng-hide="$parent.show_checkbox" class="larger-font bolded-text" for="cbSelectConfirmDiagnose">{{$parent.content | translate}}</p>

            <ul class="inline-fields clearfix margin-top-30">
                <li class="doc-name">
                    <label>{{'LABEL_DOCTOR_RESPONSIBLE' | translate }}</label>
                    <dropdown-list id="selPasswordDoctor" items="$parent.doctors" ng-model="$parent.confirmation.doctor.id" disable-input="disable_doctor_select" required params="{has_prefix: true}"></dropdown-list>
                </li>
                <li class="password">
                    <label>{{'LABEL_PASSWORD' | translate }}</label>
                    <input type="password" ng-model="$parent.confirmation.password" id="inPassword" required />
                </li>
            </ul>
            <div class="buttons text-right no-padding">
                <button type="button" class="button wide reject jsblockClose" ng-click="passwordConfirmationCancel()" id="btnCancel" translate="BUTTON_CANCEL"></button>
                <button type="submit" class="button wide confirm-smaller jsblockClose" id="btnConfirm" translate="BUTTON_CONFIRM_NORMALCASE" ng-disabled="passwordConfirmationForm.$invalid || ($parent.show_checkbox && !$parent.diagnoseStatusConfirmed)"></button>
            </div>
        </form>
    </div>
</div>
