<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup,
			System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DataImporter.Properties.Settings"
				type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0,
				Culture=neutral, PublicKeyToken=b77a5c561934e089"
			allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="bop.config.provider.tms" value="http://mc-test-infra01.mediosdigital.de:8080/tms/" />
    <add key="bop.config.auth.username" value="external" />
    <add key="bop.config.auth.password" value="external" />
    <add key="bop.config.auth.type" value="digest" />
    <add key="connectionString" value="Server=mc-test-DB01.mediosdigital.de;Database=bop_omni;Uid=recherche;Pwd=mC-zugr1ff;Port=3306;charset=utf8;Convert Zero Datetime=True;Persist Security info=True;Connection Timeout=600"/>
   <!-- <add key="connectionString" value="Server=mc-test-DB01.mediosdigital.de;Database=bop_omni;Uid=recherche;Pwd=mC-zugr1ff;Port=3306;charset=utf8;Convert Zero Datetime=True;Persist Security info=True;Connection Timeout=600"/>-->
    <add key="ElasticLink" value="mc-test-infra01.mediosdigital.de"/>
    <add key="ElasticPort" value="9200"/>

    <!-- Login credentials -->
    <!--
		<add key="username" value="s.lorenz@medios-connect.de" />
		<add key="password" value="Medios.49!opHtHa" />
		-->
    <add key="username" value="s.sonneberger@mediosmanagement.de" />
    <add key="password" value="Medios.49!Ophtha" />

    <!-- This password will be applied to all doc app accounts -->
    <add key="password-for-all-users" value="Warschauer36" />
  </appSettings>
  <userSettings>
    <DataImporter.Properties.Settings>
      <setting name="MasterAccountMMApp" serializeAs="String">
        <value>mm.docconect.mm.app.master</value>
      </setting>
      <setting name="RegularAccountMMApp" serializeAs="String">
        <value>mm.docconect.mm.app.regular</value>
      </setting>
      <setting name="MMAppGroup" serializeAs="String">
        <value>mm.docconect.mm.app.group</value>
      </setting>
      <setting name="DocAppGroup" serializeAs="String">
        <value>mm.docconect.doc.app.group</value>
      </setting>
      <setting name="OPDocAccountDocApp" serializeAs="String">
        <value>mm.docconect.doc.app.op.doctor</value>
      </setting>
      <setting name="ACDocAccountDocApp" serializeAs="String">
        <value>mm.docconect.doc.app.ac.practice</value>
      </setting>
    </DataImporter.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
