<div class="gray-content-holder doctors-data-lists practice-list animate-if content-scroll" id="wrapper">
    <div id="wrapper_inner">
        <form id="practiceForm" class="gray-content-holder doctors-data-lists practice-list animate-if" name="practiceForm" ng-submit="sendPracticeForm()" novalidate>
            <div name="messageContainer" class="error-msg-container" ng-show="divContainer ||(practiceForm.inZip.$error.number  || practiceForm.inBsnr.$error.number ||practiceForm.inDefaultShippingDateOffset.$error.number )">
                <span class="error" ng-show="practiceForm.inZip.$error.number">{{ 'LABEL_INVALID_PLZ_NO' | translate }} </span>
                <span class="error" ng-show="practiceForm.inBsnr.$error.number">{{ 'LABEL_INVALID_BSNR_NO' | translate }}</span>
                <span class="error" ng-show="bsnrLengthnotValid">{{ 'LABEL_BSNR_LENGTH' | translate }}</span>
                <span class="error" ng-show="bsnrExists">{{ 'LABEL_BSNR_EXISTS' | translate }}</span>
                <span class="error" ng-show="MainEmailNotValid">{{ 'LABEL_EMAIL_NOT_VALID' | translate }}</span>
                <span class="error" ng-show="EmailNotValid">{{ 'LABEL_EMAIL_NOT_VALID' | translate }}</span>
                <span class="error" ng-show="practiceForm.inDefaultShippingDateOffset.$error.number">{{ 'LABEL_INVALID_DATEFORMAT_NO' | translate }}</span>
                <span class="error" ng-show="IBANinvalid">{{ 'LABEL_IBAN_INVALID' | translate }}</span>
                <span class="error" ng-show="IBANnotFound">{{ 'LABEL_IBAN_NOT_FOUND' | translate }}</span>
                <span class="error" ng-show="BICinvalid">{{ 'LABEL_BIC_INVALID' | translate }}</span>
                <span class="error" ng-show="BankInvalid">{{ 'LABEL_ENTER_BANK_NAME' | translate }}</span>
                <span class="error" ng-show="BICBankinvalid">{{ 'LABEL_ENTER_BIC' | translate }}</span>
                <span class="error" ng-show="fromDateInvalid">{{ 'LABEL_DELIVERY_FROM_INVALID' | translate }}</span>
                <span class="error" ng-show="toDateInvalid">{{ 'LABEL_DELIVERY_TO_INVALID' | translate }}</span>
                <span class="error" ng-show="fromIsGreaterThanTo">{{ 'LABEL_FROM_LOWER' | translate }}</span>
            </div>

            <div class="first-class-data">
                <div class="row">
                    <div class="col-xs-12">
                        <h3 class="margin-bottom-20" id="lblAddPractice">{{::'LABEL_PRACTICE' | translate}}</h3>
                    </div>

                    <div class="col-xs-6">
                        <div class="form-group">
                            <label id="lblPracticeName">{{::'LABEL_PRACTICE_NAME' | translate}}<span class="error" ng-show="practiceForm.inPracticeName.$error.required">*</span></label>
                            <input type="text" class="form-control" id="inPracticeName" name="inPracticeName" ng-model="practice.name" required>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label id="lblBsnr">{{::'LABEL_BSNR' | translate}}<span class="error" ng-show="practiceForm.inBsnr.$error.required">*</span></label>
                            <input type="text" class="form-control" id="inBsnr" name="inBsnr" ng-model="practice.bsnr" ng-class="{redborder:bsnrLengthnotValid ||bsnrExists}" ng-disabled="true" required>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <div class="col-xs-4">
                        <div class="form-group">
                            <label id="lbStreet">{{::'LABEL_STREET' | translate}}<span class="error" ng-show="practiceForm.inStreet.$error.required">*</span></label>
                            <input type="text" class="form-control" id="inStreet" name="inStreet" ng-model="practice.address" required>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label id="lblNo">{{::'LABEL_NO' | translate}}<span class="error" ng-show="practiceForm.inNo.$error.required">*</span></label>
                            <input type="text" class="form-control" id="inNo" name="inNo" ng-model="practice.No" required>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label id="lbZip">{{::'LABEL_ZIP' | translate}}<span class="error" ng-show="practiceForm.inZip.$error.required">*</span></label>
                            <input type="number" class="form-control" id="inZip" name="inZip" min="0" ng-model="practice.Zip" ng-class="{redborder:practiceForm.inZip.$error.number}" required>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label id="lblCity">{{::'LABEL_CITY' | translate}} <span class="error" ng-show="practiceForm.inCity.$error.required">*</span></label>
                            <input type="text" class="form-control" id="inCity" name="inCity" ng-model="practice.town" required />
                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <div class="col-xs-6">
                        <div class="form-group">
                            <label id="lblMainEmail">{{::'LABEL_EMAIL' | translate}}</label>
                            <input type="text" class="form-control" id="inMainEmail" name="inMainEmail" ng-model="practice.email" ng-class="{redborder:EmailNotValid}">
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label id="lblMainPhone">{{::'LABEL_PHONE' | translate}}<span class="error" ng-show="practiceForm.inMainPhone.$error.required">*</span></label>
                            <input type="text" class="form-control" id="inMainPhone" name="inMainPhone" ng-model="practice.phone" required>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label id="lblFax">{{::'LABEL_FAX' | translate}}</label>
                            <input type="text" class="form-control" id="inFax" name="inFax" ng-model="practice.fax">
                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <div class="col-xs-12">
                        <h3 class="margin-top-15 margin-bottom-20">{{::'LABEL_CONTACT_PERSON' | translate}}</h3>
                    </div>

                    <div class="col-xs-6">
                        <div class="form-group">
                            <label id="lblContactPerson">{{::'LABEL_NAME' | translate}}</label>
                            <input type="text" class="form-control" id="inContactPerson" name="inContactPerson" ng-model="practice.contact_person_name">
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label id="lblEmail">{{::'LABEL_EMAIL' | translate}}</label>
                            <input type="text" class="form-control" id="inEmail" name="inMail" ng-model="practice.contact_email" ng-class="{redborder:MainEmailNotValid}">
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label id="lblPhone">{{::'LABEL_PHONE' | translate}}</label>
                            <input type="text" class="form-control" id="inPhone" name="inPhone" ng-model="practice.contact_telephone">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xs-12">
                        <h3 class="margin-top-15 margin-bottom-20">{{::'order' | translate}}</h3>
                    </div>

                    <div class="col-xs-6">
                        <div class="form-group">
                            <label>{{::'LABEL_PREFERRED_PHARMACY' | translate}}</label>
                            <dropdown-list items="pharmacies" ng-model="practice.DefaultPharmacy" additional-class="'dropdown-min-width'"></dropdown-list>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label id="lblDefaultShippingDateOffset">{{::'LABEL_DEFAULT_SHIPPING_DATE_OFFSET' | translate}}<span class="error" ng-show="practiceForm.inDefaultShippingDateOffset.$error.required">*</span></label>
                            <input type="number" class="shipping-offset-input" id="inDefaultShippingDateOffset" name="inDefaultShippingDateOffset" min="0" ng-model="practice.default_shipping_date_offset" required>
                            <label class="inline" id="lblDaystoOP" translate="LABEL_LABEL_DAYS_TO_OP"></label>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group padding-top-15">
                            <ul class="list-table">
                                <li>{{::'LABEL_FROM' | translate}}</li>
                                <li>
                                    <input type="text" class="form-control" id="inDeliveryTimeFrom" placeholder="00:00" name="inDeliveryTimeFrom"
                                           time-input
                                           ng-blur="fixTime('DeliveryDateFrom')" ng-model="practice.DeliveryDateFrom" ng-class="{'redborder': fromDateInvalid || fromIsGreaterThanTo }">
                                </li>
                                <li>{{::'LABEL_TO' | translate}}</li>
                                <li><input type="text" class="form-control" id="inDeliveryTimeTo" placeholder="00:00" name="inDeliveryTimeTo" time-input ng-blur="fixTime('DeliveryDateTo')" ng-model="practice.DeliveryDateTo" ng-class="{'redborder': toDateInvalid || fromIsGreaterThanTo }"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-xs-3">
                        <div class="form-group toggler">
                            <label>{{::'LABEL_QUICK_ORDER_VERWNDEN' | translate}}</label>
                            <span class="mask-toggle" title="{{:: 'TOOLTIP_QUICK_ORDER_MSG' | translate }}">
                                <input ng-disabled="checkIsQuickOrderDisabled()" name="cbPracticeQuickOrder" type="checkbox" ng-model="practice.IsQuickOrderActive" ng-change="changeQuickOrder(false)">
                                <i class="icon" ng-click="changeQuickOrder(true)"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group toggler">
                            <label>{{::'LABEL_QUICK_ORDER_GRACE_PERIOD' | translate}}</label>
                            <span class="mask-toggle">
                                <input ng-disabled="checkIsGracePeriodDisabled()" name="cbPracticeGracePeriod" type="checkbox" ng-model="practice.UseGracePeriod" ng-change="changeGracePeriod(false)">
                                <i class="icon" ng-click="changeGracePeriod(true)"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xs-12">
                        <h3 class="margin-top-15 margin-bottom-20" id="lblPRacticeBankAccount">{{::'LABEL_PRACTICE_BANK_ACCOUNT' | translate}}</h3>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label id="lblAccountHolder">{{::'LABEL_ACCOUNT_HOLDER' | translate}}</label>
                            <input type="text" class="form-control" id="inAccountHolder" name="inAccountHolder" ng-model="practice.account_holder">
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label id="lblIban">{{::'LABEL_IBAN' | translate}}</label>
                            <input type="text" class="form-control" id="inIban" name="inIban" ng-model="practice.iban" ng-class="{redborder:IBANinvalid}" ng-blur="CheckIbanFillBic()">
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label id="lblBic">{{::'LABEL_BIC' | translate}}</label>
                            <input type="text" class="form-control" id="inBic" name="inBic" ng-model="practice.bic" ng-class="{redborder:BICinvalid ||BICBankinvalid}" ng-blur="CheckBicFillBank()">
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label id="lblBank">{{::'LABEL_BANK' | translate}}</label>
                            <input type="text" class="form-control" id="inBank" name="inBank" ng-model="practice.bank" ng-class="{redborder:BankInvalid ||BICBankinvalid}">
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xs-12">
                        <h3 class="margin-top-15 margin-bottom-20">{{::'LABEL_OTHER_OPTIONS' | translate}}</h3>
                    </div>

                    <div class="col-xs-4">
                        <div class="form-group toggler">
                            <label translate="LABEL_PRACTICE_HAS_OCT_DEVICE"></label>
                            <span class="mask-toggle">
                                <input id="cbPracticeHasOctDevice" name="cbPracticeHasOctDevice" type="checkbox" ng-model="practice.PracticeHasOctDevice" ng-change="changePracticeHasOctDevice(false)" />
                                <i class="icon" ng-click="changePracticeHasOctDevice(true)"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group toggler">
                            <label id="lblWaiveServiceFee" translate="LABEL_SHOULD_DOWNLOAD_REPORT_UPON_SUBMISSION"></label>
                            <span class="mask-toggle">
                                <input id="inDownloadReportUponSubmission" name="inDownloadReportUponSubmission" type="checkbox" ng-model="practice.ShouldDownloadReportUponSubmission" ng-true-value="false" ng-false-value="true" />
                                <i class="icon" ng-click="practice.ShouldDownloadReportUponSubmission = !practice.ShouldDownloadReportUponSubmission"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group toggler">
                            <label translate="LABEL_PRESS_ENTER_TO_SEARCH"></label>
                            <span class="mask-toggle">
                                <input id="cbPressEnterToSearch" name="cbPressEnterToSearch" type="checkbox" ng-model="practice.PressEnterToSearch" />
                                <i class="icon" ng-click="practice.PressEnterToSearch = !practice.PressEnterToSearch"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xs-12">
                        <h3 class="margin-top-15 margin-bottom-20" id="lblPracticeAccount">{{::'LABEL_PRACTICE_ACCOUNT' | translate}}</h3>
                    </div>

                    <div class="col-xs-3">
                        <div class="form-group">
                            <label id="lblLoginEmail">{{::'LABEL_LOGIN_EMAIL' | translate}}<span class="error" ng-show="practiceForm.inLoginEmail.$error.required">*</span></label>
                            <input type="text" class="form-control" id="inLoginEmail" name="inLoginEmail" name="mail" ng-model="practice.login_email" ng-disabled="true" auto-fill-sync required>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label>{{::'LABEL_PASSWORD' | translate}}</label>
                            <input type="password" class="form-control" id="inPassword" name="practice.inPassword" ng-disabled="true" ng-model="practice.password" auto-fill-sync>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group padding-top-15">
                            <button class="button medium reject" onclick="return false;" ng-click="ResetPassword()" translate="LABEL_RESET_PASSWORD"></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="buttons-with-text-button">
                <span class="abort"><a href="" id="btnCancelSubmitPractice" ng-click="Cancel()" onclick="return false;" translate="BUTTON_CANCEL">{{ 'LABEL_CANCEL' | translate }}</a></span>
                <button class="button wide confirm" id="btnSubmitPractice" type="submit" translate="BUTTON_SAVE" ng-disabled="practiceForm.$invalid"></button>
            </div>
        </form>
    </div>
</div>
