/*.popup_holder_Component,
body,
html{
	height: 100%;
}

.popup_holder_Component
{
    width:100%;
	position: fixed;
	top:0px;
	left:0px;
	background-color:Gray;
	background: rgba(0,0,0,0.3);
    z-index: 950;
}

.popup_Component{
	width: 500px;
	margin: 0 auto;
	max-width: 1890px;
	padding: 10px;
	position: relative;
	background: #fafafa;
	border-radius: 8px;
	-webkit-box-shadow:  0px 0px 40px 4px rgb(134, 134, 134);
    box-shadow:  0px 0px 40px 4px rgb(134, 134, 134);
    z-index: 10;
    top: 25%!important;
}
.popup_Component h3{
	margin-top: 0px;
	margin-bottom: 10px;

}

.popup_Component .buttons{
	text-align: center;
	margin-top:10px;
}

.popup_Component .buttons a{	
	-webkit-border-radius: 5px;
    border-radius: 5px;
	color: #fff;
	text-decoration: none;	
	padding: 3px 5px;
	margin-right: 5px;
}

.popup_Component .buttons a:hover{
	box-shadow: inset 1px 2px 3px rgba(100, 100, 100, 0.1);
	cursor: pointer;
}
.popup_Component i{
		z-index:11;	display: block;	background: transparent; position: absolute; clear:both; height:25px; width: 30px; border: 6px solid #ffb400; content: '';	}
	.popup_Component .lt{
		border-radius: 15px 0 15px 0; border-right: none; border-bottom: none; left: -6px; top: -6px; }	
	.popup_Component .rb{
		border-radius: 15px 0 15px 0; border-top: none;border-left: none; right: -6px; bottom: -6px; }
	.popup_Component .rt{
		border-radius: 0 15px 0; border-bottom: none; border-left: none; right: -6px; top: -6px; }
	.popup_Component .lb{
		border-radius: 0 15px 0; border-right: none; border-top: none; left: -6px; bottom: -6px; }*/