<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CommonBinding" closeTimeout="00:10:00" openTimeout="00:10:00"
                    receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="true"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="2147483647" maxBufferSize="2147483647"
                    maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true" messageEncoding="Text">
                    <readerQuotas maxDepth="4500000" maxStringContentLength="4500000"
                        maxArrayLength="25000000" maxBytesPerRead="40960000" maxNameTableCharCount="25000000" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_ITemplateService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:54701/Services/CompanyService.svc"
                binding="basicHttpBinding" bindingConfiguration="CommonBinding"
                contract="CompanyService.ICompanyService" name="BasicHttpBinding_ICompanyService" />
            <endpoint address="http://localhost:54701/Services/EmployeeService.svc"
                binding="basicHttpBinding" bindingConfiguration="CommonBinding"
                contract="EmployeeService.IEmployeeService" name="BasicHttpBinding_IEmployeeService" />
            <endpoint address="http://localhost:54701/Services/EventService.svc"
                binding="basicHttpBinding" bindingConfiguration="CommonBinding"
                contract="EventService.IEventService" name="BasicHttpBinding_IEventService" />
            <endpoint address="http://localhost:54701/Services/LeaveRequestService.svc"
                binding="basicHttpBinding" bindingConfiguration="CommonBinding"
                contract="LeaveRequestService.ILeaveRequestService" name="BasicHttpBinding_ILeaveRequestService" />
            <endpoint address="http://localhost:54701/Services/PlanningService.svc"
                binding="basicHttpBinding" bindingConfiguration="CommonBinding"
                contract="PlanningService.IPlanningService" name="BasicHttpBinding_IPlanningService" />
            <endpoint address="http://localhost:54701/Services/UserService.svc"
                binding="basicHttpBinding" bindingConfiguration="CommonBinding"
                contract="UserService.IUserService" name="BasicHttpBinding_IUserService" />
            <endpoint address="http://localhost:54701/Services/TemplateService.svc"
                binding="basicHttpBinding" bindingConfiguration="CommonBinding"
                contract="TemplateService.ITemplateService" name="BasicHttpBinding_ITemplateService" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
