<div ng-init="initializeController()">
    <div class="gray-content-holder clearfix">
        <div name="messageContainer" class="error-msg-container" ng-if="showErrorMessageContainer">
            <span class="error">{{ 'LABEL_HIP_ALREADY_SELECTED' | translate }} </span>
        </div>

        <div class="autocomplete-row">
            <label>{{ 'LABEL_HIP_NAME' | translate }}</label>
            <button class="button add-button wide" ng-click="addHipToList()" translate="LABEL_ADD"></button>
            <angucomplete-alt id="inHipName"
                              class="autocomplete-input"
                              name="inHipName" pause="500"
                              selected-object="addHip"
                              remote-url="api/contract/GetHIPsForSearchCriteria"
                              remote-url-data-field="items"
                              remote-url-request-formatter="remoteUrlRequestFn"
                              search-fields="expanded_name"
                              title-field="expanded_name"
                              minlength="1"
                              inputclass="form-control form-control-small"
                              inherit-position="true" />
        </div>
    </div>

    <ul class="diagnosis-list-header">
        <li class="unsorted" ng-class="setTableHeaderClass('name')" ng-click="SortFunction('name')">{{'LABEL_HIP_NAME' | translate }}</li>
        <li class="unsorted" ng-class="setTableHeaderClass('additional_info')" ng-click="SortFunction('additional_info')">{{'LABEL_HIP_NUMBER' | translate }}</li>
    </ul>

    <div class="content-scroll clear" id="wrapper">
        <div id="wrapper_inner" class="clearfix">
            <div infinite-scroll="loadMore()" infinite-scroll-distance="300" infinite-scroll-parent="#wrapper" infinite-scroll-child="#wrapper_inner" infinite-scroll-disabled="isScrollDisabled">
                <div ng-repeat="item in hips">
                    <ul class="diagnosis-list-item">
                        <li class="larger-font"><span>{{ ::item.name }}</span> </li>
                        <li class="larger-font"><span>{{ ::item.additional_info }}</span> </li>
                        <li><a href="" ng-click="removeHip(item)" class="icons-discard" title="{{'LABEL_REMOVE_FROM_CONTRACT' | translate}}"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
