<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="realmConfig" type="BOp.Config.SDKConfig, BOpSDK"/>
  </configSections>
  <realmConfig>
    <session cookieName="bops123"/> 
    <auth username="external" password="external"/>
    <providers>
      <add name="session" endpoint="http://realm.v3.local.b-op.com:8080/cms/"/>
            <!--<add name="session" endpoint="http://realm.v3.local.b-op.com:8080/cms/" />-->

      <!--<add name="account" endpoint="http://192.168.15.111:8080/cms/"/>-->
      <add name="account" endpoint="http://realm.v3.local.b-op.com:8080/cms/"/>
      <add name="tenant" endpoint="http://realm.v3.local.b-op.com:8080/cms/"/>
      <add name="document" endpoint="http://realm.v3.local.b-op.com:8080/doc/"/>
      <add name="message" endpoint="http://localhost:8080/"/>
      <add name="realmAppAccess" endpoint="http://localhost:8080/raa/"/>
      <add name="trustRelation" endpoint="http://localhost:8080/ebcn/trust/"/>
    </providers>
    <messaging application="790f2fe9-eb2c-41fa-aee9-8e83be73a2fd"
               module="6d7d1a97-4eee-4609-ae65-82915e874b1e"
               listener="https://example-endpoint/" />
  </realmConfig>

  <appSettings>
    <add key="bop.config.cookie-name" value="bops"/>    
    <add key="bop.config.auth.username" value="external"/>
    <add key="bop.config.auth.password" value="external"/>
    <add key="bop.config.auth.type" value="digest"/>    
    <add key="bop.config.provider.tms" value="http://realm.v3.local.b-op.com:8080/tms/"/>
    <add key="bop.config.provider.doc" value="http://realm.v3.local.b-op.com:8080/doc/"/>
    <add key="bop.config.provider.rms" value="http://realm.v3.local.b-op.com:8080/rms/"/>
    <add key="bop.config.provider.rps" value="http://realm.v3.local.b-op.com:8080/raa/"/>
    <add key="bop.config.provider.trust" value="http://realm.v3.local.b-op.com:8080/trust/"/>
    <add key="bop.config.provider.pch" value="http://localhost:8080/pch/"/>    
  </appSettings>
  
</configuration>