hr {
	border: 0;
    border-top: 1px solid #ccc;
}

%hide-text {
	@include hide-text;
}

%clear-ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

// Helper classes
.hide { display: none !important; }
.show { display: block !important; }
.inline{display: inline-block !important;}
.clear { clear: both; }
.fleft { float: left; }
.fright { float: right !important; }
.text-left { text-align: left !important; }
.text-right { text-align: right; }
.text-center { text-align: center !important;}
.padding { padding: 0.5em; }
.no-margin { margin: 0 !important; }
.no-padding { padding: 0 !important; }
.divide { margin-top: 0.5em; }
.divide-big { margin-top: 1em; }
.fixed { position: fixed; }
.upper { text-transform: uppercase; }
.strong { font-weight: bold; }
.block-element{ display: block; }
.hidden-text{ text-indent: -99999px; }
.positioned-absolute { position: absolute; }
.positioned-inherit { position: inherit !important; }
.relative {position: relative !important;}
.overflow-visible{ overflow: visible ; }
.clear-none { clear: none !important;}
.clear-left { clear: left; }
.no-wrap{
  white-space: nowrap !important;
}
.no-float{float: none !important;}
.padding-gray-holder{
  padding-top: 0 !important;
}
.no-height{
  height: 0;
}

.module-color{
  color: $module-color !important;
}

.error-color{
  color: $error-color !important;
}

.bolded-text{
  font-weight: bold !important;
}

.margin-top-15{
  margin-top: 15px !important;
}

.margin-bottom-55{
  margin-bottom: 55px;
}

.default-font-color{
  color: #363636;
}

.gray-font-color{
  color: $sub-header;
}

.larger-font{
  font-size: 1rem;
}

.normal-height-font{
  font-size: 0.75rem;
}

.padding-top-6{
  padding-top: 6px;
}

.padding-top-3{
    padding-top: 3px;
}

.padding-top-20{
    padding-top: 20px;
}

.margin-top-3{
  margin-top: 3px;
}

.clear-after-float{
  float: left;
  clear: left;
  width: 100%;
}

.animation-fix{
  position: relative;
  z-index: 1;
}

.no-margin-bottom{
    margin-bottom: 0 !important;
}

.has-checkbox{
  padding-left: 65px !important;
}

.dotted-border{
  padding-top: 10px;
  border-top: 1px dotted #b7b7b7;
}

.negative-margin{
  margin-top: -25px !important;
  }

  .margin-class{
      margin: 0 15.5px !important;
  }

.pointer{
    cursor: pointer;
}
.no-aside-margin{
    margin-left: 0 !important;
    margin-right: 0 !important;
}
/*.margin-top-30{
    margin-top: 30px;
}*/

.padding-top-15{
    padding-top: 15px !important;
}

.padding-top-22{
    padding-top: 22px !important;
}
.padding-aside{
    padding-left: 40px;
}
.container-step {
margin-top: 32px;
}
.margin-bottom-15{
    margin-bottom:  15px !important;
}
.margin-bottom-10 {
    margin-bottom: 10px !important;
}
.margin-bottom-20 {
    margin-bottom: 20px !important;
}
.margin-top-30{
    margin-top: 30px;
}
.margin-left-3{
    margin-left: 3px !important
}

.margin-left-25 {
    margin-left: 25px !important;
}

.width-100{
    width: 100% !important;
}

.central-download-button {
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    top:50%;
    height:34px;
    width:68px;
    line-height:32px;
    cursor:pointer;
    background:url("../images/icons/evidence-white.png") no-repeat center;
    text-indent:-9999px;position:absolute;
    background-color:#959595
}
.central-download-button:hover {
    background-color:#707070
}
.central-button-pull-right {
    position:absolute;right:103px;height:15px !important
}

.fixedheader {
    position: fixed;
    display: block !important;
    width: 100%;
    z-index: 4;
}

.shipping-offset-input {
    width: 34px !important;
    display: inline-block;
    margin-right: 5px !important;
}
