<div class="popup-wrapper">
    <div class="popup popup-medium warning-popup">
        <div class="warning-msg"><h2 translate="LABEL_WHAT_IS_YOUR_PASSWORD"></h2></div>
        <h4>{{$parent.content | translate}}</h4>

        <div class="error-msg" ng-if="credentials_not_verified"><span class="error">{{ 'LABEL_CREDENTIALS_NOT_VERIFIED' | translate }}</span></div>
        <form id="passwordConfirmationForm" class="popup-content" name="passwordConfirmationForm" ng-submit="$parent.verifyPassword()" novalidate>
            <ul class="inline-fields clearfix">
                <li class="doc-name">
                    <label>{{'LABEL_NAME' | translate}}</label>
                    <dropdown-list id="selUser" name="selUser" items="$parent.users" ng-model="$parent.confirmation.user_login_email" params="{display_name: 'name', id: 'email', is_model_object: false}" required></dropdown-list>
                </li>                  
                <li class="password">
                    <label>{{'LABEL_PASSWORD' | translate }}</label>
                    <input type="password" ng-model="$parent.confirmation.password" id="inPassword" required />
                </li>
            </ul>
            <div class="buttons text-right no-padding">
                <button type="button" class="button wide reject" ng-click="passwordConfirmationCancel()" id="btnCancel" translate="BUTTON_CANCEL"></button>
                <button type="submit" class="button wide confirm-smaller" id="btnConfirm" translate="BUTTON_CONFIRM_NORMALCASE" ng-disabled="passwordConfirmationForm.$invalid"></button>
            </div>
        </form>
    </div>
</div>
