<div>
    <div class="gray-content-holder">
        <div class="row">
            <div class="col-xs-5">
                <label>{{ 'LABEL_FILTER_BY_IVOM_DATE' | translate }}</label>
                <div class="radio">
                    <input type="radio" ng-model="order_period" value="today" name="orderPeriod" id="rbToday" ng-change="updateOrderPeriod()" />
                    <label for="rbToday">{{ 'LABEL_TODAY' | translate }}</label>
                </div>
                <div class="radio">
                    <input type="radio" ng-model="order_period" value="tomorrow" name="orderPeriod" id="rbTomorrow" ng-change="updateOrderPeriod()" />
                    <label for="rbTomorrow">{{ 'LABEL_TOMORROW' | translate }}</label>
                </div>
                <div class="radio">
                    <input type="radio" ng-model="order_period" value="future" name="orderPeriod" id="rbFuture" ng-change="updateOrderPeriod()" />
                    <label for="rbFuture">{{ 'LABEL_FUTURE' | translate }}</label>
                </div>
                <div class="radio">
                    <input type="radio" ng-model="order_period" value="custom" name="orderPeriod" id="rbCustom" ng-change="updateOrderPeriod()" />
                    <label for="rbCustom">{{ 'LABEL_CUSTOM' | translate }}</label>
                    <div class="radio-item-content">
                        <div class="datepicker-from-to">
                            <span>{{ 'LABEL_FROM' | translate }}</span>
                            <input type="text" class="form-control"
                                   id="orderPeriodFrom"
                                   name="orderPeriodFrom"
                                   uib-datepicker-popup
                                   ng-model="orders_from_date"
                                   ng-change="updateOrderPeriod()"
                                   ng-focus="fromDate = true;"
                                   is-open="fromDate"
                                   placeholder="{{ 'LABEL_DATE_PLACEHOLDER' | translate }}"
                                   ng-disabled="orderPeriodCustomDateDisabled()"
                                   date-validate="false"
                                   date-adaptation>
                            <span>{{ 'LABEL_TO' | translate }}</span>
                            <input type="text" class="form-control"
                                   id="orderPeriodTo"
                                   name="orderPeriodTo"
                                   uib-datepicker-popup
                                   ng-model="orders_to_date"
                                   ng-change="updateOrderPeriod()"
                                   ng-focus="toDate = true;"
                                   is-open="toDate"
                                   ng-disabled="orderPeriodCustomDateDisabled()"
                                   placeholder="{{ 'LABEL_DATE_PLACEHOLDER' | translate }}"
                                   date-validate="false"
                                   date-adaptation>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-7 black-text-color">
                <ul class="margin-top-15">
                    <li class="margin-bottom-15" ng-repeat="stat in order_stats">
                        <strong class="bolded-text">{{::stat.drug_name}}:</strong>
                        <span>{{::stat.order_count}} ({{::stat.percentage}} %)</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <ul class="table-header shoppingcart-table" ng-class="{'table-header-active': selected_count !== 0}">
        <li>
            <span class="mask-checkbox">
                <input id="cbSelectAll" name="cbSelectAll" type="checkbox" ng-model="all_selected" ng-change="checkAll()" />
                <i class="icon"></i>
            </span>
            <span class="num-of-selected-item" ng-show="selected_count !== 0" ng-cloak>[ {{ selected_count }} ]</span>
        </li>
        <li class="unsorted">{{'LABEL_DATE'| translate}}</li>
        <li class="unsorted">{{'LABEL_LAST_NAME_FIRST_NAME'| translate}}</li>
        <li class="unsorted">{{'LABEL_DRUG'| translate}}</li>
        <li class="unsorted">{{'LABEL_DIAGNOSE'| translate}}</li>
        <li class="unsorted">{{'LABEL_LOCALIZATION'| translate}}</li>
        <li class="unsorted">{{'LABEL_OP_DOCTOR'| translate}}</li>
        <li class="unsorted">{{'LABEL_STATUS'| translate}}</li>
        <li class="controls text-right">
            <a id="multiSubmit" class="icons-submit jsblockClose" ng-click="multiSubmitOrders()" ng-if="selected_count !== 0" href title="{{'BUTTON_SUBMIT_ORDER' | translate}}">{{'BUTTON_SUBMIT_ORDER' | translate}}</a>
        </li>
    </ul>
    <h2 id="stickyHeaderBox" class="first-letter-holder hide"></h2>

    <div class="content-scroll clear" id="wrapper" sticky>
        <div id="wrapper_inner">
            <div infinite-scroll="loadOrders()" infinite-scroll-distance="400" infinite-scroll-parent="#wrapper" infinite-scroll-child="#wrapper_inner" infinite-scroll-disabled="isScrollDisabled">
                <div ng-repeat="item in orders | groupBy:'group_name'" ng-repeat-finished>
                    <h2 id="tableGroup" class="first-letter-holder tableGroup" ng-if="item.group_name_CHANGED">
                        <span>
                            <span class="mask-checkbox">
                                <input id="cbGroupSelect_{{ ::item.group_name }}" name="cbGroupSelect_{{ ::item.group_name }}" type="checkbox" ng-model="item.is_group_selected" ng-change="checkGroup(item); stickyGroupChecked('{{ item.group_name }}')">
                                <i class="icon"></i>
                            </span>
                            <span id="stickyData">
                                {{ ::item.group_name | translate }}
                            </span>
                        </span>
                    </h2>
                    <edit-order-directive order-id="item.id" ng-if="show_edit_order_form_id === item.id"></edit-order-directive>

                    <div class="table-row" ng-hide="show_edit_order_form_id === item.id">
                        <ul id="list" class="table-content shoppingcart-table" ng-class="{ 'red-border': item.status_drug_order === 'MO8' }">
                            <li>
                                <span class="mask-checkbox">
                                    <input id="cbSelect_{{ ::item.id }}" name="cbSelect_{{ ::item.id }}" type="checkbox" ng-model="item.is_selected" ng-change="checkSelected(item)">
                                    <i class="icon"></i>
                                </span>
                            </li>
                            <li id="treatmentDate_{{$index}}"><big>{{ item.treatment_date | date: 'dd.MM.yyyy' }}</big></li>
                            <li id="patientName_{{$index}}" class="larger-font">
                                {{::item.patient_name}}
                                <a href="#/patient/patient_detail/{{item.patient_id}}" id="btnGoToPatientDetails_{{$index}}" title="{{ 'BUTTON_GO_TO_PATIENT_DETAILS' | translate}}"><i class="icons-preview-black"></i></a>
                                <div id="patientBday_{{$index}}" class="normal-height-font gray-font-color">{{ ::item.patient_birthdate | date:'dd.MM.yyyy' }}</div>
                            </li>
                            <li id="caseDrug_{{$index}}">
                                {{ ::item.drug }}
                                <a class="icons-info"
                                   ng-if="item.position_comment"
                                   uib-tooltip-template="'scripts/src/app/shoppingCart/view/shoppingCartTooltip.html'"
                                   tooltip-placement="top"
                                   tooltip-trigger="click"
                                   tooltip-animation="true"></a>
                            </li>
                            <li id="caseDiagnosis_{{$index}}">{{ ::item.diagnose }}</li>
                            <li class="text-center">{{::item.localization}}</li>
                            <li id="doctorName_{{$index}}">{{::item.treatment_doctor_name}} <div class="normal-height-font gray-font-color" ng-if="item.treatment_doctor_practice_name !== '-'">{{ ::item.treatment_doctor_practice_name }}</div></li>
                            <li id="orderStatus_{{$index}}" ng-class="{'table-row-color': item.status_drug_order === 'MO8'}">
                                {{ ::item.status_drug_order | translate }}    
                                <div id="orderStatus_createdOn_{{$index}}" class="normal-height-font gray-font-color">{{::item.create_date_string}}</div>                                
                            </li>
                            <li class="controls text-right">
                                <a id="edit_{{$index}}" class="icons-edit action-buttons" ng-click="editOrder(item)" href title="{{'BUTTON_EDIT_ORDER' | translate}}">{{'BUTTON_EDIT_ORDER' | translate}}</a>
                                <a id="cancel_{{$index}}" class="icons-discard action-delete-button" ng-click="cancelOrder(item)" href title="{{ 'BUTTON_CANCEL_ORDER' | translate }}">{{'BUTTON_CANCEL_ORDER' | translate}}</a>
                                <a id="submit_{{$index}}" class="icons-submit jsblockClose" ng-click="submitOrder(item)" href="" title="{{'BUTTON_SUBMIT_ORDER' | translate}}">{{'BUTTON_SUBMIT_ORDER' | translate}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
