<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="realmConfig" type="BOp.Config.SDKConfig, BOpSDK"/>
  </configSections>
  <realmConfig>
    <session cookieName="123123"/>
    <auth username="username" password="password"/>
    <providers>
      <add name="session" endpoint="http://www.google.com"/>
      <add name="account" endpoint="http://www.google.com"/>
    </providers>
    <!-- Messaging segment -->
    <messaging application="790f2fe9-eb2c-41fa-aee9-8e83be73a2fd"
               module="6d7d1a97-4eee-4609-ae65-82915e874b1e" 
               host="http://localhost:80/"
               listener="messaging/listener"/>
  </realmConfig>

</configuration>